name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        ports:
          - 6432:6432
        env:
          POSTGRES_USER: krylosov-aa
          POSTGRES_PASSWORD:
          POSTGRES_DB: test
        options: >-
          --health-cmd="pg_isready -U test -d test_db"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    strategy:
      matrix:
        python-version: ["3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Sync dependencies (prod + dev)
        run: uv sync --all-extras --dev

      - name: Run tests
        run: uv run pytest --cov context_async_sqlalchemy tests examples/fastapi_example/tests examples/starlette_example/tests examples/fastapi_with_pure_asgi_example/tests --cov-report=term-missing
